*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

table{ 
    margin: auto;
    text-align: center;
    border-color: rgb(122, 7, 7);
    margin-top: 1rem;
    & td {
        padding: 0.5rem;
    }
}